#top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
button:first-child {
  margin-right: 10px;
}
nav {
  padding: 20px;
}
.container {
  height: 60vh;
  width: 60vw;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  box-shadow: 2px 2px 5px 5px #27272754;
  overflow: auto;

}
.no-choice {
  font-size: 30px;
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}
#wrapper {
  display: flex;

  align-items: center;
}
.list {
  max-height: 100%;
 
}
#actions {
  display: inline-block;
}

#details {
  padding: 20px;
 
}
.wrapper {
  height: 90vh;
  display: flex;
  align-items: center;
}
body {
  background-color: rgb(154, 68, 83);
}
h2 {
  display: inline-block;
}
p {
  font-size: 16px;
  margin-bottom: 10px;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.data{
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}
.data span{
  color: lightslategray;
  display: block;
  font-size: 16px;
}

#people {
  padding: 20px 10px;
  font-size: 25px;
  border-bottom: rgb(225, 220, 220) solid 1px;
 
}

.empty-arr{
  height: 40vh;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: white;
  flex-direction: column;
  border-radius: 5px;
}
.empty-arr p{
  font-size: 25px;
}
.active {
  background-color:rgba(195, 208, 241, 0.397);
  box-shadow: 2px 2px 3px  gray ;
  transition: all 0.15s ease;
  transition: background-color 0.175s ease-in-out;
}
ul {
  list-style: none;
  padding: 0;
}
[v-cloak] {
  display: none;
}
@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 70vh;
    width: 80vw;
    gap:0;
  }
  .list{
    overflow-x: auto;
    display: flex;
   height: 100px;
  }
  #people{
    font-size: 20px;

  }
  .details{
  align-items:start;
justify-content: end;  
}
.active{
  box-shadow: -2px -2px 3px gray;
}
}
@media(min-width:801px){
  .list{
    overflow-y: auto;    
  }
  #info{
    margin-top: 5px;
  }
 
}